{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block content %}
<div class="col">
    <h1><center>Записаться на приём</center></h1>
    <div class="row justify-content-center align-items-center">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.name }}">{{ field.label }}</label>
                    <div>{{ field }}</div>
                </div>
            {% endfor %}
            {% if form.errors %}
                {% for error in form.errors.values %}
                    {{ error }}
                {% endfor %}
            {% endif %}
            <input type="submit" value="Записаться"/>
        </form>
    </div>
</div>
{% endblock %}

{% block bottom %}
{% load static %}
<script type="text/javascript" src="{% static 'js/hook.js' %}"></script>
{% endblock %}
