<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Поликлиника "Django"</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Django admin -->
    {% load static %}
    <link href="{% static 'admin/css/forms.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'admin/css/base.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'admin/css/widgets.css' %}" type="text/css" media="all" rel="stylesheet" />
    {% block head %}{% endblock %}
    <style type="text/css">
        head, body {
            height: 100%;
        }
    </style>
</head>
<body>
<div class="container-fluid h-100 px-0">
    <header class="d-flex justify-content-between fixed-top bg-light">
        <div class="d-flex py-4">
            <a href="/" class="mx-5">Поликлиника Django</a>
        </div>
        <div class="d-flex py-4">
            <a href="{% url 'admin:login' %}" class="mx-5">Войти</a>
        </div>
    </header>
    <main class="d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex flex-column align-self-center align-items-center">
            <div class="d-flex py-4 mt-10">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
</div>
<script type="text/javascript" src="/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
{% block bottom %}{% endblock %}
</body>
</html>